.auth-form__error {
    color: var(--error);
    font-size: 0.85rem;
    margin-top: 0.25rem;
    opacity: 0;
    max-height: 0;
    transform: translateY(-10px);
    transition: var(--transition);
}

.auth-form__error_visible {
    display: block;
    opacity: 1;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    transform: translateY(0);
}